@media screen and (min-width: 992px) {
  .toggle-menu {
    display: none;
  }
  .mobile-header {
    display: none;
  }
  .show-on-mobile {
    display: none;
  }
  .special__control {
    display: none;
  }
  .atmosphere__control {
    display: none;
  }
  .footer__line {
    display: none;
  }
}

/* Tablet and mobile */
@media screen and (max-width: 991.98px) {
  .header__logo {
    flex-direction: row-reverse;
    width: 100%;
  }
  .logo-desc {
    display: none;
  }
  .navbar {
    display: none;
  }
  .toggle-menu {
    margin-left: 20px;
    width: 46px;
    height: 46px;
  }
  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }
  .menu-drawer {
    position: fixed;
    inset: 0 0 0 40%;
    background: #fff;
    z-index: 4;
    padding: 40px;
    transform: translateX(100%);
    transition: 0.5s ease;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .navbar-mobile__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .navbar-mobile__link {
    padding: 0 20px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .hero__row {
    flex-direction: column-reverse;
  }
  .hero__img-wrap {
    overflow: hidden;
  }
  .hero__img {
    height: auto;
  }
  .hero__background {
    scale: 1;
    bottom: 1px;
    left: -170px;
  }
  .hero__decor {
    display: none;
  }
  .social__inner {
    flex-direction: column;
    text-align: center;
    row-gap: 40px;
  }
  .social__heading {
    flex-direction: column;
  }
  .social__heading::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: -5px 0 0;
  }
  .special__list {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .project__top {
    text-align: center;
    row-gap: 20px;
  }
  .atmosphere__bottom {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .footer__top {
    flex-direction: column;
  }
  .footer__logo {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 64px;
  }
  .logo {
    justify-content: normal;
  }
  .footer__avatar {
    margin: 0;
  }
  .footer__bottom {
    max-width: 100%;
    border: none;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
  .footer__line {
    width: 100%;
    height: 1px;
    background: #0c0720;
    margin: 30px 0 20px;
    opacity: 0.2;
  }
  .cta-decor-02 {
    display: none;
  }
  .interact__intro {
    display: none;
  }
}
/* Tablet breakpoint */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile breakpoint */
@media screen and (max-width: 767.98px) {
  .hero__background {
    left: -90px;
  }
  .social__list {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: flex-start;
    gap: 32px 0;
  }
  .hero__heading {
    font-size: 7rem;
  }
  .project-item {
    overflow: hidden;
  }
  .blog__decor-01,
  .blog__decor-02 {
    display: none;
  }
  .question-item__heading {
    padding-right: 20px;
  }
  .footer-navbar {
    margin-right: 0;
  }
  .navbar__link {
    padding: 10px;
  }
  .interact-item__heading {
    font-size: 3rem;
  }
  .interact-item__desc {
    max-width: 74px;
  }
  .project-item__img {
    width: 122px;
  }
  .sub-heading {
    font-size: 2.4rem;
  }
}
